.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */


html {
font-size : 62.5%;
font-family: Arial;
}

p, div, span, a, li, ul {
  font-size : 1.4rem;
}

body {
  margin : 0;
}


#main-section {
  position: relative;
}
#main-nav {
  position: absolute;
  width:100%;
  background-color: rgba(0,0,0,.3);
  height: 60px;
}

#main-nav .content-wrapper {
  width : 90%;
  margin : 0 auto;
  height: 100%;
  box-sizing: border-box;
}

#main-nav .content-wrapper > ul {
  list-style-type: none;
	margin: 0px;
	padding: 0px;
  height:100%;
}

#main-nav .content-wrapper > ul > li {
  float : left;
  padding : 15px 15px;
  cursor: pointer;
  transition: all 0.2s;
  height: 100%;
  box-sizing: border-box;
  display: table;
}

#main-nav .content-wrapper > ul > li:hover {
  background-color: #620031;
}

#main-nav .content-wrapper > ul > li a {
  font-size: 1.8rem;
  text-transform: uppercase;
  text-decoration: none;
  color:white;
  display: table-cell;
  vertical-align: middle;
}


#main-nav .content-wrapper > ul > li.nav-active{
	background-color: black;

}

#main-nav .content-wrapper > ul > li.nav-active a{
 color: #a3a3a3;
}

#nav-header {
  float: left;
}

#nav-items {
  float: right;
}
