#main-section {
  background-image: url("../images/bg-home.jpg");
  height: 750px;
	background-position: center top;
}

#featured-projects {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 940px;
}

#featured-projects >  header {
  background-color: rgba(0,0,0,.3);
  text-align: center;
  font-size: 2.4rem;
  text-transform: uppercase;
  text-align: center;
  color: #a3a3a3;
  line-height: 5rem;
}

#featured-projects > .images-wrapper > .img-thumb {
  height: 156px;
  width: 235px;
  float: left;
  cursor: pointer;
}

#featured-projects > .images-wrapper > .img-thumb:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

#featured-projects > .images-wrapper > .img-thumb:nth-child(1) {
    background-image : url(../images/project-image1.jpg);
}

#featured-projects > .images-wrapper > .img-thumb:nth-child(2) {
    background-image : url(../images/project-image2.jpg);
}

#featured-projects > .images-wrapper > .img-thumb:nth-child(3) {
    background-image : url(../images/project-image3.jpg);
}

#featured-projects > .images-wrapper > .img-thumb:nth-child(4) {
    background-image : url(../images/project-image4.jpg);
}


#main-content-wrapper {
  width: 940px;
  position: absolute;
  bottom: 180px;
  color: white;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 100;

}

#main-content-wrapper #satellite-wrapper {
  float:left;
  width : 50%;

}

#main-content-wrapper #main-heading-wrapper {
    float: left;
    width: 50%;
    text-align: center;
}

#main-heading-wrapper h1 {
  font-size: 6rem;
  text-transform: uppercase;
}

#main-heading-wrapper h2 {
  font-size: 4rem;
  text-transform: uppercase;
}

#main-heading-wrapper #main-button {
  background-color:  black;
  color : #a3a3a3;
  display : inline-block;
  padding : 15px 25px;
  font-size: 2rem;
  text-transform: uppercase;
  cursor: pointer;
}

#main-heading-wrapper #main-button:hover {
  background-color: #B8001F;
  color: white;
}

#purple-bar {
  background-color: #630031;
  overflow: hidden;
  text-align: center;
  color:white;
  padding: 25px 0px;
}

#purple-bar h2 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 300;
  text-transform: uppercase;
}

#purple-bar p {
  margin-top : 15px;
  margin-left:  auto;
  margin-right: auto;
  margin-bottom : 0;
  max-width: 700px;
}

#media-section {
  background-color: black;
  overflow: hidden;
  color: white;
}

#media-section > .content-wrapper {
  width : 75%;
  margin: 0 auto;
}

#video-column {
  width: 50%;
}

#articles-columns {
  width: 50%;
}

.float-left {
  float: left;
}
